* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

.navbar {
  background-color:rgba(30, 106, 192);
  width:100%;
  height:60px;
  position:fixed;
  top: 0;
  
}

.logo {
  margin-top: 10px;
  display: inline-block;
  width:auto;
  color:white;
  font-family: 'Rancho', cursive;
  font-size:40px;
}

nav ul {
  float:right;
  margin-top: 20px;
}

nav li {
  display: inline-block;
  margin-left:15px;
  color:white;
}


header {
  background:rgba(0, 0, 0, 0) url("https://images.pexels.com/photos/208745/pexels-photo-208745.jpeg?cs=srgb&dl=america-architecture-bay-208745.jpg&fm=jpg") no-repeat top center ;
    background-size: cover;
    width:100%;
    height:1000px;
    text-align: center
}

header h1 {
  font-size:48px;
  padding-top: 75px;
  font-size: 2.2rem;
  
}

header h2 {
  padding-top: 400px;
  font-size:48px;
  
}

section {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.aboutme {
    width:300px;
    float:right;
}

.about-me {
  margin-top:40px;
}

section h3 {
  color:tomato;
  margin-bottom:20px;
  margin-top:10px;
  font-size: 2rem;
}

section h4 {
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.skills-container {
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
}
 .skills-item {
   border:1px soild rgba(30, 106, 192);
   width: 150px;
   height: 150px;
   margin-top: 15px;
   text-align: center;
 }

 .skills-item figcaption {
   margin-top: 8px;
   color: rgba(30, 106, 192);
 }

.projects-display {
  display:inline-block;
  width:49%;
  vertical-align: top;
}

 .projects-display img {
   width:100%;
 }

 .projects-display.description {
   padding-left:20px;

 }

 .projects-display.description h4 {
   color:black;
 }

 .projects-display.description a {
  color:black;
  text-decoration: none;
}

 .projects-display.description ul {
   margin-top:10px;
 }

 .projects-display.description li {
   display:inline-block;
   width:auto;
   border: 1px solid grey;
   padding:10px;
 }

 footer {
   widows: 100%;
   background-color:rgba(30, 106, 192);
   text-align: center;

 }

 footer p {
   padding-top: 10px;
   padding-bottom: 10px;
   color:white;
 }